# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# YOLO model weights
*.pt

# Logs
logs/
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/